* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  position: relative;
  background-color: black;
  height: 25vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1000;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.card-style {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 15px;
}

.dot {
  display: flex;
  justify-content: center;
}

.dot > * {
  position: relative;
  bottom: 15px;
}

.dot > *:hover,
.next:hover,
.previous:hover {
  cursor: pointer;
}

.next {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 35px;  
}

.weather-container {
  overflow: hidden;
  white-space: nowrap;
  width: 50vw;
}

.weather {
  position: relative;
  animation: ticker 10s linear infinite;
}

.weather:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    right: -40em;
  }
  100% {
    right: 55em;
  }
}

/*
@media only screen and (min-width: 375px) and (max-width: 666px) {
}
*/